.container {
    background-color: #f4f4f7;
    display: flex;
}

.sideMenu {
    background-color: #2a3042;
    width: 4%;
    transition: width .5s;
    height: 100vh;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.topBar {
    height: 50px;
    width: 100%;
    background-color: white;
}

.chartCard {
    background-color: white;
    width: 350px;
    height: auto;
    overflow-y: clip;
    overflow-x: scroll;
}